<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1>Product list</h1>
            <p class="text-right">Showing {{ products|length  }} products</p>
            <a href="/product/edit">Add new</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                        {{ include('product/productList-single.twig') }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>