<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to dashboard</h1>
            <p>Pos</p>
            <a href="/product">Spravce produktu</a> <br>
            <a href="/stock">Sklad</a> <br>
            <a href="/pos">Pokladna</a> <br>
            <a href="/tables">Spravce stolu</a> <br>
            <a href="/settings">Nastaveni</a> <br>
            <a href="/dashboard/logout">Odhlasit</a>
        </div>
    </div>
</div>